:root {
    --primary-color: #388E3C;
    --secondary-color: #A5D6A7;
    --complement-text-color: #FFFFFF;
    --complement-secondary-text-color: #004A03;
    --bg-color: #EBEBEB;
    --text-color: #3B3B3B;
    --card-bg-color: #FFFFFF;
    --link-color: #1B5E20;
}